#project-section {
  min-height: 100vh;
  margin-top: 6rem;
}

.project-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 10rem;
}

.project-project {
  padding: 2rem;
  display: grid;
  row-gap: 4rem;
  column-gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
}

.youtube-clone,
.todo-list,
.fetch-country-data,
.rock-paper-sisors,
.fresh-happiness,
.calculator {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.project-container {
  position: relative;
  overflow: hidden;
  transition: all 400ms;
}
.project-container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.overlay {
  left: 0;
  right: 0;
  bottom: 0;
  height: 40%;
  display: flex;
  column-gap: 1rem;
  position: absolute;
  align-items: center;
  margin-bottom: -100%;
  transition: all 400ms;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.89);
}

.overlay a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  transition: all 400ms;
}

.project-container:hover .overlay {
  margin-bottom: 0;
}

.overlay a:hover {
  color: blueviolet;
}

.blur {
  filter: blur(5px);
}
