#contact-section {
  margin-top: 10rem;
  text-align: center;
  min-height: 80vh;
}

.contact-title {
  font-size: 4rem;
  transition: all 1s;
}

.contact-icon {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 700ms;
}

.mail-icon-container,
.phone-icon-container,
.linkedin-icon-container,
.github-icon-container,
.phone-icon-container {
  width: 30rem;
}

.mail-icon-container a,
.cv-icon-container a,
.linkedin-icon-container a,
.github-icon-container a,
.phone-icon-container a {
  width: 100%;
  cursor: default;
}

.mail-icon-container img,
.linkedin-icon-container img,
.github-icon-container img,
.phone-icon-container img {
  width: 50%;
  cursor: pointer;
}
.cv-icon-container img {
  width: 30%;
  cursor: pointer;
}

.hide {
  opacity: 0;
}
