@media all and (max-width: 900px) {
  .nav-nav {
    display: none;
  }
  .toggle {
    display: block;
  }

  #about-section {
    margin-top: 10rem;
    width: 100%;
    flex-direction: column;
  }

  .about {
    margin-left: 5rem;
    text-align: center;
    overflow-y: hidden;
  }
  .about-intro {
    font-size: 3rem;
  }
  .about-job-title {
    margin-left: 9rem;
    font-size: 1.5rem;
  }
  .about-img img {
    width: 40rem;
  }

  .react-logo,
  .html-logo,
  .css-logo,
  .js-logo {
    width: 5rem;
  }

  #about-section {
    min-height: 80vh;
  }

  #skills-section {
    min-height: 50vh;
    margin-top: 6rem;
  }
  #project-section {
    min-height: 80vh;
    margin-top: 6rem;
  }

  .project-project {
    grid-template-columns: 1fr;
  }
  .contact-icon {
    flex-direction: column;
    row-gap: 10rem;
  }

  .mail-icon-container img,
  .phone-icon-container img,
  .linkedin-icon-container img,
  .github-icon-container img {
    width: 30%;
  }

  .cv-icon-container img {
    width: 10rem;
  }
  .cv-icon-container {
    width: 100%;
  }
}
