@media all and (max-width: 900px) {
  .nav-nav {
    display: none;
  }
  .toggle {
    display: block;
  }

  #about-section {
    margin-top: 10rem;
    width: 100%;
    flex-direction: column;
  }

  .about {
    margin-left: 5rem;
    text-align: center;
    overflow-y: hidden;
  }
  .about-intro {
    font-size: 6rem;
  }
  .about-job-title {
    margin-left: 10rem;
    font-size: 2rem;
  }
  .about-img img {
    width: 50rem;
    margin-left: 9rem;
    margin-top: 5rem;
  }

  .react-logo,
  .html-logo,
  .css-logo,
  .js-logo {
    width: 8rem;
  }

  .project-project {
    grid-template-columns: 1fr;
  }
  .contact-icon {
    flex-direction: column;
    row-gap: 5rem;
  }

  .mail-icon-container,
  .phone-icon-container,
  .linkedin-icon-container,
  .github-icon-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 4rem;
  }
  .mail-icon-container img,
  .phone-icon-container img,
  .linkedin-icon-container img,
  .github-icon-container img {
    width: 10%;
    cursor: pointer;
  }

  .cv-icon-container img {
    width: 10%;
    cursor: pointer;
  }
  .contact-icon p {
    margin-left: 10rem;
  }
}
